*{
	outline:none
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container{
	width: 70%;
	margin: 0 auto;
}
.head{
	background-color: black;
}

.header-block{
	padding-top: 25px;
	padding-bottom: 25px;
}

.span{
	color: red;
	list-style: none;
}
.span1{
	color: white;
}
.float{
	float: left;
}
.p-margin{
	margin-right: 15px;
	height: 100%;
}
.ulfloat{
	float: right;

}
.head2{
	background-color: white;
}
.logo{
	width: 250px;
	height: 80px;
	background-color: gold;
	display: inline-block;
	margin-top: 20px
}
.plogo{
	text-align: center;
	padding-top: 30px;
}
.pmargin{
	padding-top: 
}
.ulfloat2{
	float: right;
	padding-top: 30px;
	padding-bottom: 40px;
	font-size: 20px;
	margin-top: 10px;
}
.link{
	color: black;
	text-decoration: none;
	font-size: 25px;
	padding: 25px 10px
}

.li-skew{
	display: block;
	color: black;
	padding:;
	transform: skew(0);

}

.li-skew :hover{
	color: white;
	background-color: red;
	transform: skew(-15deg);
	transition: all .3s ease-in-out;
	padding: auto 25px
}

.div-pad{
	padding-bottom: 10px
}

.images{
	width: 35%
}

.img-size{
	display:inline-block;
	width: 70px;
	height:80px;
	padding-top: 20px;
	margin-left: 50px;
	cursor: pointer;
}

.contact{

	background-color: red
}
.contact-us{
	position: relative;

}
.size{
	width: 70%;
	margin: 0 auto;
	height: 300px
}
.p1{
	font-size: 30px;
	color: white;
	padding-bottom: 6px
}
.p2{
	font-size: 14px;
	color: white;
}
.p3{
	color: red
}

.link2{
	text-decoration: none;
}
.c-us{
	display: inline-block;
	position: absolute;
	top: 100px;
	left: 200px
}
.map{
	width: 100%;
	height: 400px;
	position: relative;
}

.mapsize{
width: 100%;
height: 100%
}

.adress{
	width: 600px;
	height: 300px;
	background-color: white;
	position: absolute;
	left: 50%;
	top: -90px;
	transform: translateX(-50%);
	
}
.under{
	width: 100%;
	height: 280px;
	background-color: black;
	position: relative;
}
.appointment{
	width: 70%;
	height: 80px;
	margin: 0 auto;
	background-color: red;
	transform: skew(-15deg);
	position: absolute;
	left: 15%;
	top: -35px;
}
.footer{
	background: red;
}
.containerf{
	width: 70%;
	height: 70px;
	margin: 0 auto;
}
.contactadress-1{
	width: 45%;
	display: inline-block;
}
.padding-adress{
	padding: 40px 0;
	padding-left: 25px;
	padding-bottom: 32px
}
.padding-adress2{
	padding-top: 40px
}

.display{
	display: inline-block;
}
.pmargin{
	margin-bottom: 5px
}
.border{
	border:none;
	border-bottom: 1px solid grey
}
.button{
	background-color: red;
	color: white;
	padding:5px 10px;
	cursor: pointer;
}
.book{
	width: 50%;
	font-size: 20px;
	text-align: center;
	padding:30px 50px;
	display: inline-block;
}
.book-link{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.btn{
	float: right;
	display: inline-block;
	padding: 16.5px 80px
}
.bttn{
	display: inline-block;
	padding: 15px 25px;
	background-color: red;
	color: white;
	border: 1px solid white;
	cursor: pointer;
}
.quarter{
	width: 25%;
	text-align: left;
	color: white;
	float: left;
	line-height: 20px
}
.container-end{
	width: 70%;
	margin: 0 auto
}
.topp{
	margin-left: 15%;
	position: absolute;
	top: 30%
}
.btn1{
	background-color: red;
	color: white;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}
a{
	text-decoration: none;
	color: white;
}
.phead{
	font-size: 18px

}
.h4{
	font-size: 25px;
	font-style: bold
}
img{
	width: 100%;
	height: 400px
}
.img-pos{
}
p{
	font-family: 'Bitter', serif;
}
.skew{
	width: 60px;
	height: 6px;
	transform: skew(-15deg);
}
.lk{
	height: 80px;
	background-color: red;
	width: 50px
}
.ht{
	width: 30%;
	text-align: center;
	color: white;
	padding-top: 20px
}
i{
	background-color: white
}